/* Global variables (if they aren't already defined) */
:root {
     --white: #fff;
     --black: #000;
     --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heading {
     background: url('/dressright/public/assets/images/4.jpg') no-repeat center;
     background-size:auto;
     background-position: center !important;
     min-height: 80vh; /* Full height of the viewport */
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0; /* Reset padding to avoid extra space */
     width: 100%;
}

.heading h1 {
     font-size: 8rem;    
     text-transform: uppercase;
     color: var(--white);
}

.heading-title{
     text-align: center;
     margin-bottom: 3rem;
     font-size: 3rem;
     text-transform: uppercase;
     color: var(--black);
}

.about-page .container {
     max-width: 100%;
     padding: 0;
   }
   
   .about-page .row {
     display: flex;
     flex-wrap: wrap;
   }
   
   .about-page .col-md-5 {
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .about-page .about-img img {
     max-width: 100%; /* Make sure the image doesn't overflow */
     height: auto;
   }
   
   .about-page .col-md-5 p {
     max-width: 100%;
   }


@media screen {
  
}

.card-body .collection {
  height: 300px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

